<script id="tmpl-MainView" type="text/html">
	<div class="MainView">
		<div class="MainView-header">
			<h3 class="title">TodoMVC Application</h3>
		</div>
		<div class="MainView-content">
		</div>
	</div>
</script>