<script id="tmpl-MainView" type="text/html">
	<div class="MainView">
		<div class="MainView-header">
			<h3 class="title">TodoMVC Application</h3>
		</div>
		<div class="MainView-content">
			<div class="left-con">
				<div class="left-con-header">
					<div class="btn btn-default">Add Todo</div>
				</div>
			</div>
			<div class="right-con">
				
			</div>
		</div>
	</div>
</script>