@import "../pcss/utils.pcss";


.TodoEditInfoView{
	flex: 1;
	margin: 24px;
	margin-right: 200px;
	&-header{
		display: flex;
		flex-direction: row;
		.title{
			flex: 1;
		}
		.btn-delete{
			float: right;
		}
	}

	.btn-update{
		margin-top: 16px;
	}
}