<script id="tmpl-TodoView" type="text/html">
	<div class="TodoView">
		<div class="left-con">
			<div class="left-con-header">
				<div class="btn btn-default btn-add">Add Todo</div>
			</div>
		</div>
		<div class="right-con">
			
		</div>
	</div>
</script>