<script id="tmpl-TodoView" type="text/html">
	<div class="TodoView">
		<div class="left-con">
			<div class="left-con-header">
				<div class="btn btn-default btn-add">Add Todo</div>
			</div>
			<div class="todos-con">

			</div>
		</div>
		<div class="right-con">
			
		</div>
	</div>
</script>

<script id="tmpl-TodoView-todo-item" type="text/html">
	{{#each todos}}
	<div class="todo-item" data-item-id="{{id}}">
		{{name}}
	</div>
	{{/each}}
</script>